@charset "utf-8";

/* -------------------------------------------------- 
eBay Global
-------------------------------------------------- */
body																			{ margin:0 !important; padding:0 !important; }
.nt-bg																			{ width:100%; }
#ds_div .nt-bg															{ margin:0 0 20px; border:1px solid #DDD; }
.nt-bg *																		{ margin:0; padding:0; vertical-align:top; max-width:100%; }
.nt-bg-02																	{ width:100%; max-width:100%; padding:0; display:block; }
.nt-bg, .nt-bg-02, .nt-content									{ margin:0 auto; text-align:center; vertical-align:top; }
.nt-content, #nt-foot-cols		    							{ margin:0 auto; position:relative; }
.nt-content																{ width:100%; padding:15px 0 10px; }
.nt-content-width														{ width:100%; margin:0 auto; }
.nt-content, .nt-content-width								{ max-width:1338px; }
@media screen and (max-width:1358px) 					{ .nt-content, .nt-content-width { padding-left:10px; padding-right:10px; } }

/* --- DIMENSIONS 1 COL NO MARGINS --- */
.nt-1col #nt-left															{ display:none ; }
.nt-1col #nt-main														{ width:100%; margin:0 auto; }

/* --- DIMENSIONS 2 COL NO SIDE MARGINS --- */
.nt-2col #nt-left															{ width:22%; max-width:280px; }
.nt-2col #nt-main														{ width:79%; max-width:1045px; }
@media screen and (max-width:1360px) 					{ .nt-2col #nt-main { width:77%; } }
@media screen and (max-width:1042px)					{ .nt-2col #nt-left { display:none; } .nt-2col #nt-main { width:100%; margin:0 auto; float:none; } }

/* --- DIMENSIONS 2 COL WITH SIDE PADDING --- */
.nt-pcol #nt-left															{ width:20%; max-width:280px; margin:0 0 0 10px; }
.nt-pcol #nt-main														{ width:78%; max-width:1025px; margin:0 10px 0 0; }
@media screen and (max-width:1042px) 					{ .nt-pcol #nt-left { display:none; } .nt-pcol #nt-main { width:100%; margin:0 auto; float:none; } }

/* cols */
#nt-left																		{ float:left; }
#nt-main                       												{ float:right; }
#nt-left, #nt-main			       	 									{ margin:0; padding:0; vertical-align:top; display:block; overflow:hidden; background:transparent none; }

/* toggles */
.nt-hide																		{ display:none !important; }
@media screen and (max-width:1042px) 					{ .nt-nota { display:none !important; } }
@media screen and (max-width:780px) 					{ .nt-nomo { display:none !important; } }
@media screen and (max-width:1042px)					{ #nt-head-tnav, #nt-head-menu { display:none !important; } #nt-head-mnav { display:block !important; } }

/* fonts */
p, a, li, table, form select, .nt-tins							{ text-align:left; word-wrap:break-word; text-decoration:none; }
#nt-main p, #nt-main ul, #nt-main ol						{ margin:0 0 15px; padding:0; }
#nt-head-mnav ul, #nt-left ul.lev1							{ margin:0; }
ul									            									{ list-style-type:none; }
#nt-main ul																	{ list-style-type:disc; list-style-position:outside; margin-left:20px; padding-left:0; }
#nt-main ol																	{ margin-left:10px; padding:0 0 15px 10px; }
#nt-main li																	{ padding:0 0 8px; }
#nt-main ol li																{ padding:0 0 8px 5px; }
#nt-head-menu li	                            						{ display:inline; float:left; background:transparent none; padding:0; }
#nt-main .nt-text a, 
#nt-main .nt-text a:hover										{ text-decoration:underline; }

 /* spacings */
 .nt-tbox, .nt-gbox, .nt-prom,
#nt-main-tabs															{ margin:0 auto 15px; }
.nt-tbox .nt-tins, .nt-gbox .nt-tins,
.nt-prom .nt-tins														{ padding:10px 12px; }
#nt-side-cats.nt-tbox .nt-tins									{ padding:0; }

/* title bars */
.nt-tbar																		{ text-align:left; margin:0; display:block; overflow:hidden; background:transparent none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.nt-tbar .nt-tins														{ padding:0; }

/* text boxes */
.nt-tbox, .nt-gbox, .nt-tins, 
.nt-prom, .nt-prot														{ width:auto; height:auto; display:block; overflow:hidden; background:transparent none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* buttons */
.nt-bttn, a.nt-bttn													{ display:block; -webkit-transition:0.5s ease-in-out; transition:0.5s ease-in-out; -webkit-border-radius:0; border-radius:0; -webkit-appearance:none; }
.nt-bttn, a.nt-bttn													{ cursor:pointer; }

/* promo sections */
.nt-flex.nt-just															{ display:flex; flex-flow:row wrap; justify-content:space-between; text-align:center; } /* justified */
.nt-flex.nt-even															{ display:flex; flex-flow:row wrap; justify-content:space-evenly; text-align:center; } /* spaced evenly */
.nt-flex.nt-start														{ display:flex; flex-flow:row wrap; justify-content:flex-start; text-align:left; } /* left aligned */
.nt-prom																		{ width:auto; max-width:100%; height:auto; display:block; }
.nt-flex .nt-prom														{ display:inline-block; }
.nt-prot a, #nt-main .nt-text .nt-prot a, 
.nt-prot span, #nt-main .nt-text .nt-prot span		{ text-decoration:none; }
@media screen and (max-width:700px) 					{ /* .nt-flex.nt-even { width:auto; max-width:100%; display:inline-block; margin:0 auto; } */ .nt-flex .nt-prom { width:100%; max-width:100%; display:block; } }

/* images */
#nt-main .nt-tbox .nt-tins img									{ border:0; }

/* header logo and promos */
 .nt-proh																		{ width:auto; max-width:300px; }
 .nt-proh img																{ width:auto; max-width:100%; display:block; margin-left:auto; margin-right:auto; }
#nt-head-logo, #nt-head-logo img							{ max-width:100%; }
/* for swapping logos over 300px */
#nt-head-logo.nt-nomo											{ display:block; }
#nt-head-logo.nt-pmob											{ display:none !important; }
@media screen and (max-width:1042px) 					{ #nt-head-logo.nt-pmob { display:block !important; width:100%; max-width:300px; } #nt-head-logo.nt-nomo { display:none !important; } }
/* promos header */
.nt-proh span																{ display:block; }
.nt-proh.nt-prol															{ float:left; } /* left align */
.nt-proh.nt-prom														{ margin:0 auto; } /* centered */
.nt-proh.nt-pror														{ float:right; } /* right align */
@media screen and (max-width:1042px)					{ .nt-proh.nt-prol, .nt-proh.nt-prom, .nt-proh.nt-pror { float:none; margin:10px auto; } }
@media screen and (max-width:350px)					{ .nt-bg .nt-proh, .nt-bg #nt-head-logo.nt-proh, .nt-bg .nt-proh img { width:auto; max-width:90%; } }

/* header mobile dropdown menu */
#nt-head-mnav															{ width:300px; max-width:300px; height:auto; margin:0 auto 15px; position:relative; clear:both; display:none; } /* mobile dropdown menu */
@media screen and (max-width:400px)					{ #nt-head-mnav { max-width:90%; } }
#nt-head-mnav .nt-mbox label									{ width:100%; position:relative; left:0; display:block; cursor:pointer; text-align:left; margin:0 auto; padding:0 8px; }
#nt-head-mnav .nt-mbox [type=checkbox]			{ display:none; }
#nt-head-mnav .nt-mbox [type=checkbox] ~ label										{ background-position:right 6px center; background-repeat:no-repeat; padding-right:30px !important; }
#nt-head-mnav .nt-mbox [type=checkbox]:checked ~ label						{  z-index:2; } /* tab hover effect */
#nt-head-mnav .nt-mbox [type=checkbox] ~ label ~ .nt-mnav						{ display:none; }
#nt-head-mnav .nt-mbox [type=checkbox]:checked ~ label ~ .nt-mnav	{ display:block; z-index:1; }
#nt-head-mnav .nt-mnav											{ margin:0; max-height:600px; padding:4px 0; overflow:auto; top:0; left:0; right:0; bottom:0; position:relative; text-align:left; width:100%; max-width:300px; }
#nt-head-mnav .nt-mbox label,
#nt-head-mnav .nt-mnav											{ box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
#nt-head-mnav .nt-mnav ul li									{ display:block; margin:0; padding:0; }
#nt-head-mnav .nt-mnav ul li a								{ display:block; transition:all 0.5s ease; }
#nt-head-mnav .nt-mnav ul.lev1 li a:after				{ padding:0; display:inline-block; transition:all 0.5s ease; }

/* left nav menu */
#nt-left .lev1 a:hover:after										{ display:inline-block; transition:all 0.5s ease; }

/* dropdown nav menu */
#nt-left .nt-dbox														{ height:auto; position:relative; clear:both; margin:0 auto 15px;  background-color:#FFF; border:1px solid #E5E5E5; border-width:0 1px 1px; }
#nt-left .nt-dbox label												{ width:100%; position:relative; left:0; display:block; cursor:pointer; text-align:left; margin:0 auto; padding:0 8px; }
#nt-left .nt-dbox label, #nt-left .nt-drop					{ box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
#nt-left .nt-dbox [type=checkbox]							{ display:none; }
#nt-left .nt-dbox [type=checkbox] ~ label										{ background-position:right 6px center; background-repeat:no-repeat; padding-right:30px !important; }
#nt-left .nt-dbox [type=checkbox]:checked ~ label						{ z-index:2; } /* tab hover effect */
#nt-left .nt-dbox [type=checkbox] ~ label ~ .nt-drop						{ display:none; }
#nt-left .nt-dbox [type=checkbox]:checked ~ label ~ .nt-drop	{ display:block; z-index:1; }
#nt-left .nt-drop														{ max-height:400px; overflow:auto; top:0; left:0; right:0; bottom:0; position:relative; text-align:left; width:100%; list-style:none; margin:0; padding:0;  }
#nt-left .nt-drop li														{ display:block; margin:0; padding:0; }

/* text buttons nav menu */
#nt-left .nt-bbox														{ padding:10px 0 0; text-align:center; }
#nt-left .nt-bbox a													{ display:inline-block; text-align:center; margin:0 0 10px; transition:all 0.5s ease; }

/* color buttons nav menu */
#nt-left #nt-side-colr .nt-bbox a							{ width:34px; margin-left:2px; margin-right:2px; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-redd		{ background-color:#FF0000; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-orng		{ background-color:#FE831F; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-yllw		{ background-color:#FFDE00; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-gren		{ background-color:#029841; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-teal		{ background-color:#00B0C0; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-blue		{ background-color:#0054A6; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-prpl		{ background-color:#662D91; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-pink		{ background-color:#F06E9C; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-brwn		{ background-color:#976245; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-blck		{ background-color:#000; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-grey		{ background-color:#AAA; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-whit		{ background-color:#FFF; }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-slvr		{ background:#BBB;
background:-moz-linear-gradient(-45deg, #BBB 0%, #FFF 50%, #BBB 100%);
background:-webkit-linear-gradient(-45deg, #BBB 0%, #FFF 50%, #BBB 100%);
background:linear-gradient(135deg, #BBB 0%, #FFF 50%, #BBB 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBB',endColorstr='#FFF',GradientType=0 ); }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-gold		{ background:#B5892D;
background:-moz-linear-gradient(-45deg, #B5892D 0%, #FFF6BC 50%, #B5892D 100%);
background:-webkit-linear-gradient(-45deg, #B5892D 0%, #FFF6BC 50%, #B5892D 100%);
background:linear-gradient(135deg, #B5892D 0%, #FFF6BC 50%, #B5892D 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5892D',endColorstr='#FFF6BC',GradientType=1 ); }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-rose		{ background:#B98170;
background:-moz-linear-gradient(-45deg, #B98170 0%, #FFEEE6 50%, #B98170 100%);
background:-webkit-linear-gradient(-45deg, #B98170 0%, #FFEEE6 50%, #B98170 100%);
background:linear-gradient(135deg, #B98170 0%, #FFEEE6 50%, #B98170 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B98170',endColorstr='#FFEEE6',GradientType=0 ); }
#nt-left #nt-side-colr .nt-bbox a.nt-colr-ttne		{ background:#CCC;
background:-moz-linear-gradient(-45deg, #B5892D 0%, #FFF6BC 50%, #FFF 51%, #BBB 100%);
background:-webkit-linear-gradient(-45deg, #B5892D 0%,#FFF6BC 50%,#FFF 51%,#BBB 100%);
background:linear-gradient(135deg, #B5892D 0%,#FFF6BC 50%,#FFF 51%,#BBB 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B5892D', endColorstr='#BBB',GradientType=1 ); }

/* daily deal */
#nt-deal .nt-fp															{ padding:15px; }
#nt-deal a, #nt-deal a span										{ font-size:13px; line-height:18px; text-decoration:none; display:block; text-align:center; }
#nt-deal a, #nt-deal a:after									{ transition:all 0.5s ease; }
#nt-deal a .title															{ text-align:center; margin:15px 0 20px; }
#nt-deal a .price														{ font-size:14px; font-weight:700; line-height:20px; margin:0 auto; }
#nt-deal a .thumb														{ width:180px; height:180px; margin:0 auto 10px; padding:0; vertical-align:middle; text-align:center; background-position:center center !important; background-size:contain !important; background-color:#FFF !important; }
#nt-deal a .thumb:before										{ content:""; display:inline-block; height:100%; vertical-align:middle; }
#nt-deal a .thumb img												{ width:auto; max-width:180px; height:auto; max-height:180px; margin:0 auto;  vertical-align:middle; }

/* welcome banner */
#nt-main-babg															{ width:100%; height:auto; margin:0 auto; padding:0; }
#nt-main-bann															{ width:100%; height:auto; margin:0 auto 15px; display:block; text-align:center; }
#nt-main-bann.nt-pmob											{ display:none !important; }
@media screen and (max-width:780px) 					{ #nt-main-bann.nt-pmob { display:block !important; width:100%; height:auto; } #nt-main-bann.nt-nomo { display:none !important; } }

/* featured categories and brands */
.nt-flex a																	{ width:auto; height:auto; display:block; margin:0 0 15px; }
.nt-flex a img																{ width:100%; height:auto; display:block; }
/* for 2 across right column */
#nt-main .nt-flex.nt-two a										{ width:49.3%; max-width:515px; }
@media screen and (max-width:800px)					{ #nt-main .nt-flex.nt-two a { width:100%; } #nt-main .nt-flex.nt-just.nt-two { justify-content:space-evenly; } }
/* for 2 across full width */
.nt-content-width .nt-flex.nt-two a						{ width:49.4%; max-width:661px; }
@media screen and (max-width:800px)					{ .nt-content-width .nt-flex.nt-two a { width:100%; } .nt-content-width .nt-flex.nt-just.nt-two { justify-content:space-evenly; } }
/* for 3 across right column */
#nt-main .nt-flex.nt-three a									{ width:32.5%; max-width:339px; }
/* for 4 across right column */
#nt-main .nt-flex.nt-four a										{ width:24%; max-width:250px; }
@media screen and (max-width:760px)					{ #nt-main .nt-flex.nt-four a { width:31%; } #nt-main .nt-flex.nt-just.nt-four { justify-content:space-evenly; } }
@media screen and (max-width:560px)					{ #nt-main .nt-flex.nt-four a { width:48%; } #nt-main .nt-flex.nt-just.nt-four { justify-content:space-between; } }
/* for 5 across right column */
#nt-main .nt-flex.nt-five a										{ width:19%; max-width:197px; }
@media screen and (max-width:760px)					{ #nt-main .nt-flex.nt-five a { width:23%; } #nt-main .nt-flex.nt-just.nt-five { justify-content:space-evenly; } }
@media screen and (max-width:650px)					{ #nt-main .nt-flex.nt-five a { width:31%; } }
@media screen and (max-width:460px)					{ #nt-main .nt-flex.nt-five a { width:48%; } #nt-main .nt-flex.nt-just.nt-five { justify-content:space-between; } }
/* for 6 across right column */
#nt-main .nt-flex.nt-six a											{ width:16%; max-width:165px; }
@media screen and (max-width:980px)					{ #nt-main .nt-flex.nt-six a { width:23%; } #nt-main .nt-flex.nt-just.nt-six { justify-content:space-evenly; } }
@media screen and (max-width:650px)					{ #nt-main .nt-flex.nt-six a { width:31%; } }
@media screen and (max-width:480px)					{ #nt-main .nt-flex.nt-six a { width:48%; } #nt-main .nt-flex.nt-just.nt-six { justify-content:space-between; } }
/* for 6 across full width */
.nt-content-width .nt-flex.nt-six a							{ width:16%; max-width:213px; }
@media screen and (max-width:980px)					{ .nt-content-width .nt-flex.nt-six a { width:23%; } .nt-content-width .nt-flex.nt-just.nt-six { justify-content:space-evenly; } }
@media screen and (max-width:650px)					{ .nt-content-width .nt-flex.nt-six a { width:31%; } }
@media screen and (max-width:480px)					{ .nt-content-width .nt-flex.nt-six a { width:48%; } .nt-content-width .nt-flex.nt-just.nt-six { justify-content:space-between; } }

/* featured products */
#nt-feat .nt-fp															{ width:18%; min-width:172px; height:auto; margin-bottom:15px; padding:15px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
#nt-feat .nt-fp a, #nt-feat .nt-fp a span					{ display:block; overflow:hidden; text-align:center; }
#nt-feat .nt-fp a														{ margin:0; }
#nt-feat .nt-fp a, #nt-feat .nt-fp a:after				{ transition:all 0.5s ease; }
#nt-feat .nt-fp a .thumb											{ width:140px; height:140px; background-color:#FFF !important; background-size:contain !important; vertical-align:middle; text-align:center; margin:0 auto 15px; }
#nt-feat .nt-fp a .thumb img										{ height:auto; max-height:140px; width:auto; max-width:140px; margin:0 auto; }
#nt-feat .nt-fp a .title												{ font-size:13px; line-height:18px; height:72px; margin:0 auto 15px; }
#nt-feat .nt-fp a .price												{ font-size:14px; line-height:20px; font-weight:700; }
/* centered inside box */
#nt-main-feat.nt-even #nt-feat								{ padding-top:20px; display:flex; flex-flow:row wrap; justify-content:space-evenly; }
#nt-main-feat.nt-even #nt-feat .nt-fp					{ margin:0 1% 20px; }
@media screen and (max-width:800px)					{ #nt-main-feat.nt-even #nt-feat { padding-top:15px; } #nt-main-feat.nt-even #nt-feat .nt-fp { margin-bottom:15px; } }
/* justified */
#nt-main-feat.nt-tbox.nt-just									{ background-color:transparent; border-width:0; margin-bottom:0; }
#nt-main-feat.nt-just #nt-feat								{ padding-top:20px; display:flex; flex-flow:row wrap; justify-content:space-between; text-align:center; }
#nt-main-feat.nt-just #nt-feat .nt-fp						{ margin:0 0 20px; }
@media screen and (max-width:1260px)					{ #nt-main-feat.nt-just #nt-feat { justify-content:space-evenly; } #nt-main-feat.nt-just #nt-feat .nt-fp { margin:0 1% 20px; } }
@media screen and (max-width:800px)					{ #nt-main-feat.nt-just #nt-feat { padding-top:15px; } #nt-main-feat.nt-just #nt-feat .nt-fp { margin-bottom:15px;  } }
/* remove odd item for mobile */
@media screen and (max-width:1260px)					{ #nt-feat .nt-fp { width:23%; min-width:0; } #nt-feat .nt-fp:nth-child(5) { display:none; } }
@media screen and (max-width:800px)					{ #nt-feat .nt-fp { width:31%; } #nt-feat .nt-fp:nth-child(5) { display:block; } }
@media screen and (max-width:599px)					{ #nt-feat .nt-fp { width:47%; } #nt-feat .nt-fp:nth-child(5) { display:none; } }
@media screen and (max-width:409px)					{ #nt-feat .nt-fp { padding:15px 5px; } }
@media screen and (max-width:379px)					{ #nt-feat .nt-fp { width:90%; } }

/* footer layouts */
/* text only no logo */
.nt-nolo #nt-foot-logo												{ display:none; }
.nt-nolo #nt-foot-subm							    				{ padding:0 20px 15px; }
.nt-nolo #nt-foot-copy							    				{ padding:0 20px 0; }
.nt-nolo #nt-foot-copy p											{ text-align:center; }
/* logo center top */
.nt-logo-top #nt-foot-logo										{ width:auto; max-width:300px; height:auto; margin:0 auto 25px; display:block; }
.nt-logo-top #nt-foot-subm							    		{ padding:0 20px 15px; }
.nt-logo-top #nt-foot-copy							    		{ padding:0 20px 0; }
.nt-logo-top #nt-foot-copy p									{ text-align:center; }
/* logo float right */
.nt-logo-right #nt-foot-logo										{ width:auto; max-width:300px; height:auto; float:right; display:block; }
.nt-logo-right #nt-foot-subm							    	{ padding:8px 20px 15px 0; float:left; text-align:left; }
.nt-logo-right #nt-foot-copy							    	{ padding:0 20px 0 0; float:left; text-align:left; clear:left; }
/* copyright line */
#nt-foot-copy p														{ text-align:center; }
#nt-foot-copy .nt-copy-ninja span							{ padding-left:24px; margin-left:4px; font-weight:400; background:transparent url(images/nt-favicon-16.png) left center no-repeat; display:inline-block; }
#nt-copy-date:after												{ content:"2022"; }
/* footer mobile view */
@media screen and (max-width:960px) { 
.nt-logo-right #nt-foot-logo										{ margin:0 auto 25px; float:none; }
#nt-foot-subm															{ display:none; }
#nt-foot-subm,
.nt-logo-top #nt-foot-subm,
.nt-logo-right #nt-foot-subm									{ margin:0 auto; padding:15px 0 10px; text-align:center; float:none; }
.nt-logo-right #nt-foot-copy									{ margin:0 auto; padding:0; text-align:center; float:none; }
#nt-foot-subm a														{ border-right:0 none !important; }
#nt-foot-subm span													{ display:none !important; }
#nt-foot-copy p														{ text-align:center; }
#nt-foot-copy .nt-copy-ninja									{ display:block !important; margin-top:10px; margin-left:0 !important; padding-left:0 !important; border-left:0 none !important; }
#nt-foot-copy .nt-copy-ninja:before					{ display:none !important; }
}



/* general settings */
.nt-bg, .nt-content, .nt-content-width,
#nt-left, #nt-main, #nt-main-fcat a,
#nt-main-brnd a,
#nt-foot-main .nt-foot-cols, #nt-foot-copy			{ box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.nt-bg, .nt-bg-02, .nt-content,
.nt-content-width, #nt-left, #nt-main,
#nt-head-wrap-01, #nt-head-wrap-02,
#nt-head-wrap-03, #nt-head-wrap-04, 
#nt-head-tnav, #nt-head-mnav, 
#nt-head-menu,
 #nt-main-whys, #nt-main-mini,
#nt-temp-gall,
#nt-foot-subm, #nt-foot-copy,
#nt-foot-main .nt-foot-cols,
#nt-foot-copy p														{ overflow:hidden; }

#nt-head-wrap-01, #nt-head-wrap-02,
#nt-head-wrap-03, #nt-head-wrap-04,
#nt-foot-wrap															{ width:100%; clear:both; position:relative; margin:0 auto; }

#nt-head-tnav a, #nt-head-mnav ul li a,
#nt-head-menu a, #nt-head-whys img,
#nt-left .lev1 li a, .nt-bttn,
#nt-left .nt-prot, #nt-main .nt-prot,
#nt-main-fcat a, #nt-feat .nt-fp, #nt-feat .nt-fp a,
#nt-temp-gall #nt-gall-thmb .nt-hold,
#nt-main .nt-prot span,
#nt-foot-subm a, #nt-foot-copy a,
#nt-foot-main .nt-foot-cols ul li,
#nt-foot-main .nt-foot-cols ul li a,
#nt-foot-main .nt-foot-cols #nt-foot-cont a			{ -webkit-transition:0.5s ease-in-out; transition:0.5s ease-in-out; }

#nt-head-menu li, #nt-left li,  
#nt-main-tabs img, #nt-gall-thmb img      				{ cursor:pointer; }

#nt-left .lev1 li, #nt-left ul li a,
#nt-main-tabs img, #nt-main-feat .nt-fp *       		{ display:block; }



/* -------------------------------------------------- 
eBay Template
-------------------------------------------------- */
/* single product image */
#nt-gall-main.nt-solo												{ text-align:center; margin:0 auto 12px; overflow:hidden; }
#nt-gall-main.nt-solo img											{ width:auto; max-width:100%; height:auto; margin:0 auto; display:block; }
#nt-gall-main.nt-solo.nt-left									{ float:left; max-width:58%; } /* float left */
@media screen and (max-width:860px)					{ #nt-gall-main.nt-solo.nt-left { float:none; width:100%; max-width:100%; } }

/* image gallery general */
#nt-temp-gall, #nt-gall-float,
#nt-temp-gall #nt-gall-main,
#nt-temp-gall #nt-gall-thmb									{ width:100%; height:auto; text-align:center; margin:0 auto; overflow:hidden; }
#nt-temp-gall .nt-cntr												{ width:100%; height:100%; background:#FFF none; vertical-align:middle; text-align:center; display:inline-block; position:relative; overflow:auto; transition:all 0.5s ease; }
#nt-temp-gall #nt-gall-main										{ background:#FFF none; margin-bottom:12px; position:relative; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
#nt-temp-gall #nt-gall-thmb h5								{ font-size:12px; line-height:18px; font-weight:400; text-align:center; margin:0; padding:0 0 5px; width:100%; clear:both; }
#nt-temp-gall #nt-gall-thmb h5 span						{ display:inline-block; width:18px; height:18px; background-color:transparent; background-position:left center; background-repeat:no-repeat; }
#nt-temp-gall #nt-gall-thmb .nt-hold						{ width:90px; height:90px; background:#FFF none; margin:3px 2px; display:inline-block; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
#nt-temp-gall .nt-hide 												{ display:none !important; }
#nt-temp-gall  img														{ width:auto; max-width:100%; height:auto; max-height:100%; margin:auto !important; display:block; border:0 none; position:absolute; top:0; left:0; right:0; bottom:0; }
#nt-temp-gall #nt-gall-main > div[id^="mimg"]		{ position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0; z-index:0; }
#nt-temp-gall #nt-gall-main > div:target				{ z-index:2; }

/* gallery main image visibility */
#nt-gall-main [type="radio"]									{ display:none; }
#nt-gall-main [type="radio"] ~ div.nt-cntr,
#nt-gall-main [type="radio"] ~ div.nt-cntr img					{ opacity:0; filter:alpha(opacity=0);  }
#nt-gall-main [type="radio"]:checked ~ div.nt-cntr,
#nt-gall-main [type="radio"]:checked ~ div.nt-cntr img	{ opacity:1; filter:alpha(opacity=100); }
@media screen and (max-width:860px)					{ #nt-temp-gall { clear:both; } } /* adjust for mobile */

/* gallery thumbs bottom layout */
#nt-temp-gall.nt-bttm												{ max-width:602px; margin-bottom:12px; }
#nt-temp-gall.nt-bttm #nt-gall-main						{ padding-top:99.6%; }
#nt-temp-gall.nt-bttm.nt-left									{ float:left; max-width:58%; } /* float left */
#nt-temp-gall.nt-bttm.nt-wide								{ max-width:802px; } /* wide layout */
@media screen and (max-width:860px)					{ #nt-temp-gall.nt-bttm.nt-left, #nt-temp-gall.nt-bttm.nt-wide { float:none; width:100%; max-width:602px; } } /* adjust for mobile */

/* gallery thumbs side layout */
#nt-temp-gall.nt-side												{ width:100%; max-width:830px; margin-bottom:12px; }
#nt-temp-gall.nt-side #nt-gall-float						{ width:73%; max-width:602px; float:left; }
#nt-temp-gall.nt-side #nt-gall-main						{ max-width:602px; margin-bottom:0; padding-top:100%; }
#nt-temp-gall.nt-side #nt-gall-thmb						{ width:210px; float:right; }
#nt-temp-gall.nt-side #nt-gall-thmb h5					{ padding:4px 0 8px; }
#nt-temp-gall.nt-side.nt-wide									{ max-width:1030px; } /* wide layout */
#nt-temp-gall.nt-side.nt-wide #nt-gall-float			{ width:78%; max-width:802px; float:left; }
#nt-temp-gall.nt-side.nt-wide #nt-gall-main			{ max-width:802px; }
@media screen and (max-width:1140px)					{ #nt-temp-gall.nt-side #nt-gall-float { width:68%; } } /* adjust for mobile */
@media screen and (max-width:1050px)					{ #nt-temp-gall.nt-side.nt-wide #nt-gall-float { width:72%; } #nt-temp-gall.nt-side #nt-gall-thmb h5 { padding:0 0 5px; }  }
@media screen and (max-width:860px)					{ #nt-temp-gall.nt-side #nt-gall-float, #nt-temp-gall.nt-side.nt-wide #nt-gall-float, #nt-temp-gall.nt-side #nt-gall-thmb { float:none; width:100%; max-width:602px; } #nt-temp-gall.nt-side #nt-gall-main { margin-bottom:12px; } }

/* gallery adjusts for listing services */
#nt-temp-gall #nt-gall-thmb div[class^="nt-hide["],
#nt-temp-gall #nt-gall-thmb div[class*=" nt-hide["]	{ display:none !important; }

/* description */
#ds_div div[typeof="Product"] span[property="description"] { display:block !important; }

/* description float right */
#nt-gall-right																{ width:40%; float:right; overflow:hidden; background:transparent none; }
#nt-gall-right.nt-wide												{ width:40%; }
#nt-gall-right .nt-tins.nt-text									{ background-color:#FFF; }
#nt-gall-right #nt-main-desc									{ width:100%; }
#nt-gall-right #nt-main-spec									{ width:100%; float:none; margin:15px 0 8px; }
@media screen and (max-width:860px)					{ #nt-gall-right, #nt-gall-right.nt-wide { width:100%; float:none; clear:both; margin-bottom:2px; } }

/* tabs functionality */
#nt-main-tabs															{ width:100%; height:auto; position:relative; clear:both; display:block; overflow:hidden; }
#nt-main-tabs .nt-tbox												{ margin:0; max-height:320px; overflow:auto; }
.nt-ttab																		{ float:none; }
.nt-ttab label																{ width:100%; position:relative; left:0; display:block; cursor:pointer; }
.nt-ttab [type=radio]												{ display:none; }
.nt-ttrm																		{ top:0; left:0; right:0; bottom:0; position:relative; }
[type=radio]:checked ~ .nt-tbar							{ z-index:2; }
[type=radio] ~ .nt-tbar ~ .nt-ttrm							{ display:none; }
[type=radio]:checked ~ .nt-tbar ~ .nt-ttrm			{ display:block; z-index:1; }

[type=radio]:checked ~ .nt-tbar ~ .nt-ttrm			{ margin-bottom:1px; }
[type=radio] ~ .nt-tbar												{ margin-bottom:1px; }
[type=radio]:checked ~ .nt-tbar							{ /* margin-bottom:0; */ }

