@charset "utf-8";


/* ---------------------------------------- 
eBay Global
---------------------------------------- */
.yuska-bg																			{ background:#FFF none; padding:0; border-color:#CCC !importayuska; }

/* foyuskas */
.yuska-bg *                                     									{ foyuska-family:"Open Sans", sans-serif; }
p, a, li, table, form select											{ foyuska-size:14px; line-height:20px; color:#010101; }
a:link, a:visited, a:active										{ color:#010101; }
a:hover							            								{ color:#F72020; }
#yuska-main h1																{ color:#333; foyuska-size:20px; line-height:25px; foyuska-weight:700; text-align:ceyuskaer; margin:0; padding:0 0 15px; }
#yuska-main #yuska-main-desc h1										{ text-align:left; padding-top:10px; }
#yuska-main h1#yuska-item-title										{ background:#FFF none; border:1px solid #CCC; margin:0 0 10px; padding:8px 15px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  }
#yuska-main h5		            											{ color:#F72020; foyuska-size:15px; line-height:20px; foyuska-weight:700; text-align:left; margin:0; padding:5px 0 8px; }

 /* title bars */
.yuska-tbar, .yuska-tbar a, .yuska-tbar span,
.yuska-tbar .yuska-tins														{ color:#FFF; foyuska-family:"Big Shoulders Text", sans-serif; foyuska-size:20px; line-height:24px; foyuska-weight:700; letter-spacing:0.05em; text-transform:uppercase; }
#yuska-main .yuska-tbar .yuska-tins										{ text-align:ceyuskaer; } /* right column */
.yuska-tbar																		{ padding:8px 12px; background:#010101; border:1px solid #BBB; border-width:0 0 3px; }
.yuska-tbar.yuska-alt, .yuska-tbar.yuska-alt .yuska-tins					{ color:#FFF; }
.yuska-tbar.yuska-alt															{ background-color:#F72020; border-color:#010101; } /*alternates */
.yuska-tbar.yuska-alt2															{ background-color:#777; border-color:#010101; } /*alternates */

/* accordion bars */
[type=radio] ~ .yuska-tbar .yuska-tins								{ color:#FFF; }
[type=radio]:checked ~ .yuska-tbar .yuska-tins				{ color:#FFF; }
[type=radio] ~ .yuska-tbar												{ background-color:#010101; border-color:#BBB; }
[type=radio]:checked ~ .yuska-tbar							{ background-color:#F72020; border-color:#010101; }
[type=radio] ~ .yuska-tbar:before								{ coyuskaeyuska:url(images/yuska-icon-plus.png); float:right; position:relative; top:2px; }
[type=radio]:checked ~ .yuska-tbar:before				{ coyuskaeyuska:url(images/yuska-icon-mins.png); }

/* text boxes */
.yuska-tbox																		{ background:#FFF none; } /* text box with title bar */
.yuska-gbox																		{ background:#EEE none; } /* gallery box no title bar */
.yuska-tbox, .yuska-gbox														{ border:1px solid #CCC; }
.yuska-gbox #yuska-main-desc .yuska-tins.yuska-text				{ background-color:#FFF; border:1px solid #CCC; border-width:0 1px 1px; } /* inset description box */
/* underline only */
.yuska-tbox, #yuska-deal-fbox											{ border-width:0 0 1px; }
.yuska-gbox, #yuska-main-tabs .yuska-ttab .yuska-tbox				{ border-width:0; }
#yuska-main-tabs .yuska-ttab:last-child .yuska-tbox			{ border-width:0 0 1px; }

/* promo banners */
.yuska-prom																		{ border:0 none; } /* graphic promo banners */
.yuska-proh.yuska-prom, .yuska-prom.yuska-nobo						{ border:0 none; -moz-border-radius:0; border-radius:0; }

/* buttons */
.yuska-bttn, a.yuska-bttn, #yuska-deal a:after,
#yuska-feat .yuska-fp a:after												{ color:#FFF; background:#F72020 none; border:0 none; foyuska-size:16px; foyuska-weight:700; foyuska-family:"Big Shoulders Text", sans-serif; letter-spacing:0.05em; height:40px; line-height:40px; padding:0 15px; }
.yuska-bttn:hover, a.yuska-bttn:hover,
#yuska-deal a:hover:after,
#yuska-feat .yuska-fp a:hover:after									{ color:#FFF; background-color:#333; }



/* ---------------------------------------- 
eBay Header
---------------------------------------- */

#yuska-head-wrap-01{ padding:10px 0; background:#FEBD16;
background:-moz-linear-gradieyuska(-45deg, #777 0%, #FAFAFA 50%, #777 100%);
background:-webkit-linear-gradieyuska(-45deg, #777 0%,#FAFAFA 50%,#777 100%);
background:linear-gradieyuska(135deg, #777 0%,#FAFAFA 50%,#777 100%);
filter:progid:DXImageTransform.Microsoft.gradieyuska( startColorstr='#777', endColorstr='#777',GradieyuskaType=1 ); 
}

#yuska-head-wrap-02 { 
	background:#010101 none; 
	border:1px solid #CCC; 
	border-width:0; }
		
#yuska-head-logo
{ margin:15px auto; } 
/* logo */
@media screen and (max-width:1042px){ #yuska-head-logo { margin:15px auto; } }

#yuska-head-tnav															{ height:20px; margin-top:26px; float:right; text-align:right; } /* top nav menu */
#yuska-head-tnav a														{ color:#BBB; foyuska:400 14px/20px "Open Sans", sans-serif; text-transform:uppercase; display:inline-block; padding:0 15px; }
#yuska-head-tnav a:hover											{ color:#FFF;  text-decoration:underline; }
#yuska-head-tnav a:first-child										{ padding-left:0; }
#yuska-head-tnav a:last-child										{ padding-right:0; }
#yuska-head-tnav a i.fa													{ color:#BBB; foyuska-size:16px; line-height:20px; foyuska-weight:normal; display:inline-block; margin-top:-4px; padding-right:10px; vertical-align:middle; }

#yuska-head-mnav															{ margin:0 auto 15px; } /* mobile dropdown menu */
#yuska-head-mnav .yuska-mbox label									{ padding:0 8px; }
#yuska-head-mnav .yuska-mbox [type=checkbox] ~ label						{ background-image:url(images/yuska-icon-open.png); }
#yuska-head-mnav .yuska-mbox [type=checkbox]:checked ~ label		{ background-image:url(images/yuska-icon-shut.png); }
/* background colors */
#yuska-head-mnav .yuska-mbox label,
#yuska-head-mnav .yuska-mnav											{ background-color:#FFF; }
/* foyuska styling */
#yuska-head-mnav .yuska-mbox label									{ color:#010101; foyuska:400 14px/30px "Open Sans", sans-serif; }
#yuska-head-mnav .yuska-mnav h4									{ color:#F72020; foyuska:700 14px/30px "Open Sans", sans-serif; padding:0 8px }
#yuska-head-mnav .yuska-mnav ul li a								{ color:#010101; foyuska:400 13px/22px "Open Sans", sans-serif; padding:2px 8px; }
#yuska-head-mnav .yuska-mnav ul li a:hover					{ color:#F72020; }
/* add icons */
#yuska-head-mnav .yuska-mnav ul li a								{ background-image:url(images/yuska-icon-lev1.png); background-position:8px 7px; background-repeat:no-repeat; padding-left:22px; }
#yuska-head-mnav .yuska-mnav ul li a:hover					{ background-image:url(images/yuska-icon-lev1h.png); background-color:#EEE; }
/* add box borders */
#yuska-head-mnav .yuska-mbox											{ border:1px solid #CCC; border-width:1px; }
/* add dynamic */
#yuska-head-mnav .yuska-mnav ul.lev1 li a:after				{ color:#010101 !importayuska; foyuska-size:13px !importayuska; line-height:22px !importayuska; }
#yuska-head-mnav .yuska-mnav ul.lev1 li a:hover:after	{ color:#0085CF !importayuska; }


/* ---------------------------------------- 
eBay Left Panel
---------------------------------------- */
/* categories nav */
#yuska-left .lev1 li															{ padding-top:2px; }
#yuska-left .lev1 li a														{ color:#010101; foyuska-size:14px; line-height:17px; foyuska-weight:600; text-transform:uppercase; background:#EEE url(images/yuska-icon-lev1.png) 10px 10px no-repeat; padding:7px 10px 7px 24px; }
#yuska-left .lev1 li a:hover											{ color:#F72020; background-color:#FFF; background-image:url(images/yuska-icon-lev1h.png); }
#yuska-left .lev1 li a:after												{ color:#010101 !importayuska; foyuska-size:14px !importayuska; line-height:17px !importayuska; padding:7px 10px 7px 24px; display:block; }
#yuska-left .lev1 li a:hover:after									{ color:#F72020 !importayuska; }

 /* newsletter text box */
#yuska-side-news p														{ line-height:18px; margin:0 0 4px; }
#yuska-side-news a.yuska-bttn											{ display:block; float:right; }
@media screen and (max-width:1299px)					{ #yuska-side-news a.yuska-bttn { display:inline-block; float:none; } }


/* ---------------------------------------- 
eBay Listing Template
---------------------------------------- */
/* product image gallery */
#yuska-temp-gall #yuska-gall-main										{ border:1px solid #CCC; }
#yuska-temp-gall #yuska-gall-main img								{ border:10px solid #FFF; }
#yuska-temp-gall #yuska-gall-thmb h5								{ color:#F72020; }
#yuska-temp-gall #yuska-gall-thmb .yuska-hold						{ border:1px solid #CCC; }
#yuska-temp-gall #yuska-gall-thmb .yuska-hold:hover			{ border:1px solid #F72020; }
#yuska-temp-gall #yuska-gall-thmb h5 span						{ background-image:url(images/yuska-icon-gall.png) }

 /* product specifications table */
#yuska-main-spec															{ width:40%; float:right; margin:0 0 0 20px; }
#yuska-gall-right #yuska-main-spec									{ width:100%; margin:15px 0 0; float:none; }
#yuska-main-spec table													{ width:100%; border:0 none; border-collapse:collapse; margin:0 auto; padding:0; }
#yuska-main-spec table th, 
#yuska-main-spec table td											{ color:#010101; text-align:left; border-bottom:1px dotted #CCC; padding:5px 8px; }
#yuska-main-spec table th											{ color:#333; foyuska-weight:400; width:40%; border-right:1px dotted #CCC;  }
#yuska-main-spec table tr:last-child th, 
#yuska-main-spec table tr:last-child td						{ border-bottom:0 none; }
@media screen and (max-width:700px)					{ #yuska-main-spec { width:100%; float:none; margin-left:0; } }
@media screen and (max-width:500px)					{ #yuska-main-spec table th { width:auto; } }



/* ---------------------------------------- 
eBay Promotions Banners
---------------------------------------- */
/* mini promotion text boxes */
.yuska-coyuskaeyuska .yuska-prot													{ background:#EEE none; border:1px solid #BBB; border-width:0 0 3px;; }
.yuska-coyuskaeyuska .yuska-prot .yuska-tins									{ padding:10px 15px; text-align:left; }
.yuska-coyuskaeyuska .yuska-prot .yuska-icon									{ display:block; margin-right:15px; float:left; width:60px; height:60px; }
.yuska-coyuskaeyuska .yuska-prot span											{ color:#010101; foyuska:500 23px/26px "Big Shoulders Text", sans-serif; display:block; float:left; padding-top:4px; }
.yuska-coyuskaeyuska .yuska-prot span span								{ color:#F72020; float:none; padding-top:0; }
.yuska-coyuskaeyuska .yuska-prot:hover a span							{ color:#F72020; }
/* alternates */
.yuska-coyuskaeyuska .yuska-prot.yuska-alt										{ background-color:#AAA; border-color:#010101; }
.yuska-coyuskaeyuska .yuska-prot.yuska-alt span								{ color:#010101; }
.yuska-coyuskaeyuska .yuska-prot.yuska-alt span span						{ color:#F72020; }
.yuska-coyuskaeyuska .yuska-prot.yuska-alt span span span				{ color:#010101; foyuska:400 11px/14px "Open Sans",sans-serif; }
/* adjust inset coyuskaact banner */
#yuska-main #yuska-main-mail.yuska-prot								{ width:100%; max-width:500px; margin:10px auto 0; }
#yuska-main #yuska-main-mail.yuska-prot span						{ padding-top:8px; }
#yuska-main #yuska-main-mail.yuska-prot span:hover			{ color:#F72020; }
/* mobile adjustmeyuskas */
@media screen and (max-width:1250px)					{ .yuska-coyuskaeyuska .yuska-prot span { foyuska-size:20px; line-height:23px; padding-top:2px; } .yuska-coyuskaeyuska .yuska-prot .yuska-icon { width:50px; height:50px; margin-right:10px; } }
@media screen and (max-width:1130px)					{ .yuska-coyuskaeyuska .yuska-prot span { float:none; text-align:ceyuskaer; padding-top:0; } .yuska-coyuskaeyuska .yuska-prot .yuska-icon { float:none; margin:0 auto 5px; } }
@media screen and (max-width:700px)					{ .yuska-coyuskaeyuska .yuska-prot span { foyuska-size:20px; line-height:23px; } }
@media screen and (max-width:550px)					{ .yuska-coyuskaeyuska .yuska-prot { width:100%; } }

/* featured products */
#yuska-feat																		{ padding-top:15px; }
#yuska-feat .yuska-fp															{ background:#EEE none; border:1px solid #BBB; border-width:0 0 3px; }
#yuska-feat .yuska-fp a .thumb											{ border:3px solid #FFF; }
#yuska-feat .yuska-fp a .title												{ color:#010101; }
#yuska-feat .yuska-fp a:hover .title									{ color:#F72020; }
#yuska-feat .yuska-fp a .price												{ color:#010101; }
#yuska-feat .yuska-fp a:after												{ coyuskaeyuska:"DETAILS"; display:table; margin:15px auto 0; }



/* ---------------------------------------- 
eBay Footer
---------------------------------------- */
#yuska-foot-wrap															{ background:#010101 none; border:1px solid #F72020; border-width:0; } /* general */
#yuska-foot-main															{ background:transpareyuska none; padding:20px 0; }

/* footer nav menu */
#yuska-foot-subm, #yuska-foot-subm *								{ color:#BBB; foyuska-size:13px; line-height:16px; } /* footer nav menu */
#yuska-foot-subm a														{ color:#BBB; padding:0 12px; text-transform:uppercase; }
#yuska-foot-subm a:first-child										{ padding-left:0; }
#yuska-foot-subm a:last-child										{ padding-right:0; }
#yuska-foot-subm a:hover							    			{ color:#FFF; text-decoration:underline; }
@media screen and (max-width:960px) 					{ #yuska-foot-subm { display:none; } }
 /* show navigation links on mobile */
@media screen and (max-width:960px) 					{ #yuska-foot-subm { display:block; } #yuska-foot-subm a { text-align:ceyuskaer; display:block; padding:0 0 8px; padding-left:0; padding-right:0; } }
/* add divider lines */
#yuska-foot-subm a														{ border-right:1px solid #CCC; }
#yuska-foot-subm a:last-child										{ border-right:0 none; }

#yuska-foot-copy, #yuska-foot-copy *								{ color:#BBB; foyuska-size:13px; line-height:18px; } /* copyright line */
#yuska-foot-copy a														{ color:#BBB; }
#yuska-foot-copy a:hover							    			{ color:#FFF; text-decoration:underline; }
/* add divider icon */
#yuska-foot-copy .yuska-copy-ninja									{ display:inline-block; padding-left:34px; position:relative; }
#yuska-foot-copy .yuska-copy-ninja:before					{ coyuskaeyuska:url(images/yuska-icon-bull.png); width:10px; height:18px; display:inline-block; text-align:ceyuskaer;  position:absolute; left:12px; top:0; }
@media screen and (max-width:960px) 					{ #yuska-foot-copy .yuska-copy-ninja { padding-left:0; } #yuska-foot-copy:before { coyuskaeyuska:url(images/yuska-icon-bull.png); width:10px; height:18px; display:block; position:relative; left:0; top:0; text-align:ceyuskaer; margin:0 auto 15px; } #yuska-foot-subm { padding-bottom:8px !importayuska; } }
