@charset "utf-8";


/* ---------------------------------------- 
eBay Global
---------------------------------------- */
.yuska-bg{ background:#FFF none; padding:0; border-color:#CCC !important; }

/* fonts */
.yuska-bg *  { font-family:"Open Sans", sans-serif; }
p, a, li, table, form select{ font-size:14px; line-height:20px; color:#010101; }
a:link, a:visited, a:active{ color:#010101; }
a:hover  { color:white; }
#yuska-main h1{ color:#333; font-size:20px; line-height:25px; font-weight:700; text-align:center; margin:0; padding:0 0 15px; }
#yuska-main #yuska-main-desc h1{ text-align:left; padding-top:10px; }
#yuska-main h1#yuska-item-title{ background:#FFF none; border:1px solid #CCC; margin:0 0 10px; padding:8px 15px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  }
#yuska-main h5  { color:#F72020; font-size:15px; line-height:20px; font-weight:700; text-align:left; margin:0; padding:5px 0 8px; }

 /* title bars */
.yuska-tbar, .yuska-tbar a, .yuska-tbar span,
.yuska-tbar .yuska-tins{ color:#000000; font-family:"Big Shoulders Text", sans-serif; font-size:20px; line-height:24px; font-weight:700; letter-spacing:0.05em; text-transform:uppercase; }
#yuska-main .yuska-tbar .yuska-tins{ text-align:center; } /* right column */
.yuska-tbar{ padding:8px 12px; background:#FEBD17; border:1px solid #000000; border-width:0 0 3px; }
.yuska-tbar.yuska-alt, .yuska-tbar.yuska-alt .yuska-tins{ color:#000000; }
.yuska-tbar.yuska-alt{ background-color:#FEBD17; border-color:#010101; } /*alternates */
.yuska-tbar.yuska-alt2{ background-color:#777; border-color:#010101; } /*alternates */

/* accordion bars */
[type=radio] ~ .yuska-tbar .yuska-tins{ color:#000000; }
[type=radio]:checked ~ .yuska-tbar .yuska-tins{ color:#FFF; }
[type=radio] ~ .yuska-tbar{ background-color:#febd17; border-color:#FFF; }
[type=radio]:checked ~ .yuska-tbar{ background-color:#000000; border-color:#010101; }
[type=radio] ~ .yuska-tbar:before{ float:right; position:relative; top:2px; }
[type=radio]:checked ~ .yuska-tbar:before{  }

/* text boxes */
.yuska-tbox{ background:#FFF none; } /* text box with title bar */
.yuska-gbox{ background:#EEE none; } /* gallery box no title bar */
.yuska-tbox, .yuska-gbox{ border:1px solid #CCC; }
.yuska-gbox #yuska-main-desc .yuska-tins.yuska-text{ background-color:#FFF; border:1px solid #CCC; border-width:0 1px 1px; } /* inset description box */
/* underline only */
.yuska-tbox, #yuska-deal-fbox{ border-width:0 0 1px; }
.yuska-gbox, #yuska-main-tabs .yuska-ttab .yuska-tbox{ border-width:0; }
#yuska-main-tabs .yuska-ttab:last-child .yuska-tbox{ border-width:0 0 1px; }

/* promo banners */
.yuska-prom{ border:0 none; } /* graphic promo banners */
.yuska-proh.yuska-prom, .yuska-prom.yuska-nobo{ border:0 none; -moz-border-radius:0; border-radius:0; }

/* buttons */
.yuska-bttn, a.yuska-bttn, #yuska-deal a:after,
#yuska-feat .yuska-fp a:after{ color:#FFF; background:#F72020 none; border:0 none; font-size:16px; font-weight:700; font-family:"Big Shoulders Text", sans-serif; letter-spacing:0.05em; height:40px; line-height:40px; padding:0 15px; }
.yuska-bttn:hover, a.yuska-bttn:hover,
#yuska-deal a:hover:after,
#yuska-feat .yuska-fp a:hover:after{ color:#FFF; background-color:#333; }



/* ---------------------------------------- 
eBay Header
---------------------------------------- */

#yuska-head-wrap-01 { 
padding:10px 0; 
/*
background:#FEBD16;
background:-moz-linear-gradient(-45deg, #FEBD16 0%, #FAFAFA 50%, #FEBD16 100%);
background:-webkit-linear-gradient(-45deg, #FEBD16 0%,#FAFAFA 50%,#FEBD16 100%);
background:linear-gradient(135deg, #FEBD16 0%,#FAFAFA 50%, #FEBD16 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEBD16', endColorstr='#FEBD16',GradientType=1 )*/; }

#yuska-head-wrap-02 { 
background:#010101 none; 
border:5px solid #FEBD16; 
border-width:0; }

#yuska-head-logo{ margin:15px auto; } /* logo */
@media screen and (max-width:1042px){ #yuska-head-logo { margin:15px auto; } }

#yuska-head-tnav{ height:20px; margin-top:37px; float:right; text-align:right; } /* top nav menu */
#yuska-head-tnav a{ color:#FFF; font:400 14px/20px "Helvetica", sans-serif; font-weight: bolder; text-transform:uppercase; display:inline-block; padding:0 15px; }
#yuska-head-tnav a:hover{ color:#FFF;  text-decoration:underline; }
#yuska-head-tnav a:first-child{ padding-left:0; }
#yuska-head-tnav a:last-child{ padding-right:0; }
#yuska-head-tnav a i.fa{ color:#BBB; font-size:16px; line-height:20px; font-weight:normal; display:inline-block; margin-top:-4px; padding-right:10px; vertical-align:middle; }

#yuska-head-mnav{ margin:0 auto 15px; } /* mobile dropdown menu */
#yuska-head-mnav .yuska-mbox label{ padding:0 8px; }

/* background colors */
#yuska-head-mnav .yuska-mbox label,
#yuska-head-mnav .yuska-mnav{ background-color:#FFF; }
/* font styling */
#yuska-head-mnav .yuska-mbox label{ color:#010101; font:400 14px/30px "Helvetica", sans-serif; }
#yuska-head-mnav .yuska-mnav h4{ color:#000000; font:700 14px/30px "Helvetica", sans-serif; padding:0 8px }
#yuska-head-mnav .yuska-mnav ul li a{ color:#1A1A1A; font:400 13px/22px "Open Sans", sans-serif; padding:2px 8px; }
#yuska-head-mnav .yuska-mnav ul li a:hover{ color:#000000; font-weight: bolder; }
/* add icons */
#yuska-head-mnav .yuska-mnav ul li a{ background-position:8px 7px; background-repeat:no-repeat; padding-left:22px; }
#yuska-head-mnav .yuska-mnav ul li a:hover{  background-color:#EEE; }
/* add box borders */
#yuska-head-mnav .yuska-mbox{ border:1px solid #CCC; border-width:1px; }
/* add dynamic */
#yuska-head-mnav .yuska-mnav ul.lev1 li a:after{ color:#010101 !important; font-size:13px !important; line-height:22px !important; }
#yuska-head-mnav .yuska-mnav ul.lev1 li a:hover:after{ color:#0085CF !important; }


/* ---------------------------------------- 
eBay Left Panel
---------------------------------------- */
/* categories nav */
#yuska-left .lev1 li{ padding-top:2px; }
#yuska-left .lev1 li a{ 
color:#010101; font-size:14px; line-height:17px; font-weight:600; text-transform:uppercase; 
padding:7px 10px 7px 24px; 
}

#yuska-left .lev1 li a:hover{ color: #010101; font-weight: bolder; background-color:#FFF; }
#yuska-left .lev1 li a:after{ color:#010101 !important; font-size:14px !important; line-height:17px !important; padding:7px 10px 7px 24px; display:block; }
#yuska-left .lev1 li a:hover:after{ color:#F72020 !important; }

 /* newsletter text box */
#yuska-side-news p{ line-height:18px; margin:0 0 4px; }
#yuska-side-news a.yuska-bttn{ display:block; float:right; }
@media screen and (max-width:1299px){ #yuska-side-news a.yuska-bttn { display:inline-block; float:none; } }


/* ---------------------------------------- 
eBay Listing Template
---------------------------------------- */
/* product image gallery */
#yuska-temp-gall #yuska-gall-main{ border:1px solid #CCC; }
#yuska-temp-gall #yuska-gall-main img{ border:10px solid #FFF; }
#yuska-temp-gall #yuska-gall-thmb h5{ color:#010101; font-weight: bolder; }
#yuska-temp-gall #yuska-gall-thmb .yuska-hold{ border:1px solid #CCC; }
#yuska-temp-gall #yuska-gall-thmb .yuska-hold:hover{ border:1px solid #febd17; }


 /* product specifications table */
#yuska-main-spec{ width:40%; float:right; margin:0 0 0 20px; }
#yuska-gall-right #yuska-main-spec{ width:100%; margin:15px 0 0; float:none; }
#yuska-main-spec table{ width:100%; border:0 none; border-collapse:collapse; margin:0 auto; padding:0; }
#yuska-main-spec table th, 
#yuska-main-spec table td{ color:#010101; text-align:left; border-bottom:1px dotted #CCC; padding:5px 8px; }
#yuska-main-spec table th{ color:#333; font-weight:400; width:40%; border-right:1px dotted #CCC;  }
#yuska-main-spec table tr:last-child th, 
#yuska-main-spec table tr:last-child td{ border-bottom:0 none; }
@media screen and (max-width:700px){ #yuska-main-spec { width:100%; float:none; margin-left:0; } }
@media screen and (max-width:500px){ #yuska-main-spec table th { width:auto; } }



/* ---------------------------------------- 
eBay Promotions Banners
---------------------------------------- */
/* mini promotion text boxes */
.yuska-content .yuska-prot{ background:#010101 none; border:1px solid #FEBD16; border-width:0 0 3px;; }
.yuska-content .yuska-prot .yuska-tins{ padding:10px 15px; text-align:left; }
.yuska-content .yuska-prot .yuska-icon{ display:block; margin-right:15px; float:left; width:60px; height:60px; }
.yuska-content .yuska-prot span{ color:#FFF; font:500 23px/26px "Big Shoulders Text", sans-serif; display:block; float:left; padding-top:4px; }
.yuska-content .yuska-prot span span{ color:#FEBD16; float:none; padding-top:0; }
.yuska-content .yuska-prot:hover a span{ color:#FEBD16; }
/* alternates */
.yuska-content .yuska-prot.yuska-alt{ background-color:#010101; border-color:#FEBD16; }
.yuska-content .yuska-prot.yuska-alt span{ color:#FFF; }
.yuska-content .yuska-prot.yuska-alt span span{ color:#FEBD16; }
.yuska-content .yuska-prot.yuska-alt span span span{ color:#010101; font:400 11px/14px "Open Sans",sans-serif; }
/* adjust inset contact banner */
#yuska-main #yuska-main-mail.yuska-prot{ width:100%; max-width:500px; margin:10px auto 0; }
#yuska-main #yuska-main-mail.yuska-prot span{ padding-top:8px; }
#yuska-main #yuska-main-mail.yuska-prot span:hover{ color:#FEBD16; }
/* mobile adjustments */
@media screen and (max-width:1250px){ .yuska-content .yuska-prot span { font-size:20px; line-height:23px; padding-top:2px; } .yuska-content .yuska-prot .yuska-icon { width:50px; height:50px; margin-right:10px; } }
@media screen and (max-width:1130px){ .yuska-content .yuska-prot span { float:none; text-align:center; padding-top:0; } .yuska-content .yuska-prot .yuska-icon { float:none; margin:0 auto 5px; } }
@media screen and (max-width:700px){ .yuska-content .yuska-prot span { font-size:20px; line-height:23px; } }
@media screen and (max-width:550px){ .yuska-content .yuska-prot { width:100%; } }

/* featured products */
#yuska-feat{ padding-top:15px; }
#yuska-feat .yuska-fp{ background:#EEE none; border:1px solid #BBB; border-width:0 0 3px; }
#yuska-feat .yuska-fp a .thumb{ border:3px solid #FFF; }
#yuska-feat .yuska-fp a .title{ color:#010101; }
#yuska-feat .yuska-fp a:hover .title{ color:white; }
#yuska-feat .yuska-fp a .price{ color:#010101; }
#yuska-feat .yuska-fp a:after{ content:"DETAILS"; display:table; margin:15px auto 0; }



/* ---------------------------------------- 
eBay Footer
---------------------------------------- */
#yuska-foot-wrap{ background:#010101 none; border:1px solid #010101; border-width:0; } /* general */
#yuska-foot-main{ background:transparent none; padding:20px 0; }

/* footer nav menu */
#yuska-foot-subm, #yuska-foot-subm *{ color:#FFF; font-weight: bolder; font-size:13px; line-height:16px; } /* footer nav menu */
#yuska-foot-subm a{ color:#FFF; padding:0 12px; text-transform:uppercase; }
#yuska-foot-subm a:first-child{ padding-left:0; }
#yuska-foot-subm a:last-child{ padding-right:0; }
#yuska-foot-subm a:hover{ color:#FFF; text-decoration:underline; }
@media screen and (max-width:960px) { #yuska-foot-subm { display:none; } }
 /* show navigation links on mobile */
@media screen and (max-width:960px) { #yuska-foot-subm { display:block; } #yuska-foot-subm a { text-align:center; display:block; padding:0 0 8px; padding-left:0; padding-right:0; } }
/* add divider lines */
#yuska-foot-subm a{ border-right:1px solid #CCC; }
#yuska-foot-subm a:last-child{ border-right:0 none; }

#yuska-foot-copy, #yuska-foot-copy *{ color:#FFF; font-weight: bolder;font-size:13px; line-height:18px; } /* copyright line */
#yuska-foot-copy a{ color:#FFF; font-weight: bolder;}
#yuska-foot-copy a:hover{ color:#FFF; text-decoration:underline; }
/* add divider icon */
#yuska-foot-copy .yuska-copy-yuska{ display:inline-block; padding-left:34px; position:relative; }
#yuska-foot-copy .yuska-copy-yuska:before{ width:10px; height:18px; display:inline-block; text-align:center;  position:absolute; left:12px; top:0; }
@media screen and (max-width:960px) { #yuska-foot-copy .yuska-copy-yuska { padding-left:0; } #yuska-foot-copy:before { width:10px; height:18px; display:block; position:relative; left:0; top:0; text-align:center; margin:0 auto 15px; } #yuska-foot-subm { padding-bottom:8px !important; } }
